:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.cell {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  background-color: lightgray;
  border: 1px solid transparent;
}

.maze {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.start {
  background-color: #0f0;
}

.end {
  background-color: #f00;
}

.bfs::before,
.astar::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: 1;
}

.bfs::before {
  left: 0;
  background-color: #FFCCCB;
}

.astar::after {
  right: 0;
  background-color: #BADA55;
}

.topWall {
  border-top: 1px solid #000;
}

.rightWall {
  border-right: 1px solid #000;
}

.bottomWall {
  border-bottom: 1px solid #000;
}


.leftWall {
  border-left: 1px solid #000;
}